<!-- search bar -->
<div class="container search-bar">
  <form action="/search" class="search-bar-outer row" id="search-bar">

    <div class="search-bar-inner col-md-8">
      <h4 class="mb-2">尋找餐廳：</h4>
      <div class="input-group">
        <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..." value="{{query.keyword}}" aria-describedby="search-button">
        <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
      </div>
    </div>

    <div class="search-bar-inner col-md-4">
      <label for="sort">
        <h4 class="mb-2">Sort</h4>
      </label>
      <div class="input-group">
        <select id="sort" name="sort" class="form-select">
          <option value="_id" selected>新增時間</option>
          <option value="nameAsc">A->Z</option>
          <option value="nameDesc">Z->A</option>
          <option value="category">類別</option>
          <option value="location">地區</option>
          <option value="rating">最高評分</option>
        </select>
      </div>
    </div>

  </form>
</div>

<!-- restaurant list -->
<div class="container my-5">
  <div class="row col-12 col-md-10 mx-auto row-cols-1 row-cols-md-3 g-4" id="data-panel">
    {{{no_result}}}
    {{#each restaurants}}
    <div class="col" style="display: inline-block;">
      <a href="/restaurants/{{this._id}}" class="text-secondary">
        <div class="card h-auto mb-1">
          <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
          <div class="card-body">
            <h6 class="card-title mb-1">{{this.name}}</h6>
            <div class="restaurant-category mb-1">
              <i class="fas fa-utensils pr-2"></i>{{this.category}}
            </div>

            <span class="badge rounded-pill bg-danger font-weight-normal mb-2">
              {{this.rating}}
              <i class="fas fa-star fa-xs"></i>
            </span>
          </div>
        </div>
      </a>
      <div class="d-flex justify-content-end">
        <a href="/restaurants/{{this._id}}/edit" type="button" class="btn btn-outline-success btn-sm me-1">Edit</a>
        <a href="/restaurants/{{this._id}}" type="button" class="btn btn-outline-primary btn-sm me-1">Detail</a>
        <form action="/restaurants/{{this._id}}?_method=DELETE" method="POST">
          <button type="button" class="btn btn-outline-danger btn-sm btn-delete">Delete</button>
        </form>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<script>
  const sort = document.querySelector('#sort')
  sort.value = "{{query.sort}}"
  sort.addEventListener('change', ()=> document.querySelector('#search-bar').submit())
</script>
<script src="/javascripts/index.js"></script>